{% extends "shop/shop_base.jinja" %}

{% block title %}Книга {{ book.title }}{% endblock %}


{% block content %}
    <div class="col-md-4 photo-block">
        <img src="{{ book.photo.url }}" class="img-thumbnail" height="300">
        <ul class="list-group">
            {% for category in book.categories.all()     %}
                <li class="list-group-item category-item">
                    <a href="{{ category.get_absolute_url() }}">#{{ category }}</a>
                </li>
            {% endfor %}
        </ul>

        <hr class="left-border">

        {% if book.in_stock %}
            <form method="get" action="/cart_add">
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <button type="submit" class="btn btn-lg btn-default">
                    <span class="glyphicon glyphicon-shopping-cart"></span> | В корзину</button>
            </form>
        {% endif %}

    </div>

    <div class="col-md-8">
        <h2 class="page-header title"><b>{{ book.title }}</b></h2>

        <p><b>Авторы: </b>
            {% for author in book.authors.all() %}
                <a href=" {{ author.get_absolute_url() }}">{{ author }}</a> |
            {% endfor %}
        </p>

        <p><b>Год:</b> {{ book.year }}</p>
        <p><b>ISBN:</b> {{ book.isbn }}</p>
        <p><b>Издательство:</b> {{ book.publisher }}</p>
        <p><b>Количество страниц:</b> {{ book.page_num }}</p>

        <p><b>Описание:</b></p>
        <p>
            {{ book.description }}
        </p>


        <div class="pull-left">
            <p class="{% if not book.in_stock %}text-muted{% endif %}"><b>{{ book.price }} руб.</b></p>
        </div>

        <div class="pull-right">
            {% if book.in_stock %}
                <p class="text-right"><b>Товар в наличии</b></p>
            {% else %}
                <p class="text-right text-muted">Товара нет в наличии</p>
            {% endif %}
        </div>

        <div class="clearfix"></div>

    </div>
{% endblock %}


{% block stylesheet %}
    <link href="{{ static('css/shop/book_detail.css') }}" rel="stylesheet">
{% endblock %}