{% extends "shop/shop_base.jinja" %}
{% from "shop/macros/_pagination.jinja" import pagination %}

{% block title %}Каталог{% endblock %}


{% block content %}
    {% for book in books %}
        <div class="book_preview col-sm-3">
            {% if book.photo.url != None %}
                <div class="center-block photo-container">
                    <a href="{{ book.get_absolute_url() }}">
                        <img src="{{ book.photo.url }}" class="cover_preview center-block photo">
                    </a>
                </div>
            {% endif %}

            <div class="description center-block">
                <div class="authors">
                    {% for author in book.authors.all()[:2] %}
                        <a href="{{ author.get_absolute_url() }}">{{ author }}</a><br>
                    {% endfor %}
                </div>

                <p class="title-font">{{ book.title_crop(40) }}</p>
            </div>
        </div>
    {% endfor %}

    <div class="clearfix"></div>

    {{ pagination(page_obj) }}
{% endblock %}


{% block stylesheet %}
    <link href="{{ static('css/shop/book_list.css') }}" rel="stylesheet">
{% endblock %}