{% extends "shop/shop_base.html" %}


{% block title %}Каталог{% endblock %}

{% block content %}
    {% for book in books %}
        <div class="book_preview">
            {% if book.photo.url != None %}
                <a href="{{ book.get_absolute_url }}">
                    <img src="{{ book.photo.url }}" class="cover_preview">
                </a>
            {% endif %}

            <div class="authors">
                {% for author in book.authors.all %}
                    {% if book.authors.first != author %}
                        |
                    {% endif %}
                    <a href="{{ author.get_absolute_url }}">{{ author }}</a>
                {% endfor %}
            </div>

            <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
        </div>
    {% endfor %}

    <div class="paginator">
        <div class="prev">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"> &laquo; Предыдущая </a>
            {% else %}
            <p class="arrow"> &laquo; Предыдущая </p>
            {% endif %}
        </div>

        <div><p>Страница {{ page_obj.number }}</p></div>

        <div class="next">
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"> Следующая &raquo; </a>
            {% else %}
                <p class="arrow"> Следующая &raquo; </p>
            {% endif %}
        </div>
    </div>
{% endblock %}